//TODO: COLORS
$black: #000;
$white: #fff;
$gold: #CF9340;
$gray: #A8957A;
$brown: #985127;
$darkBrown: #2B120B;
$blue: #838488;
$green: #908D5A;

//TODO: FONTS
$DansingScript: 'Dancing Script', cursive;
$Oswald: 'Oswald', sans-serif;
$Jost: 'Jost', sans-serif;

//TODO: SIZE
// $size: ;
